*.ipynb_checkpoints
*.vscode
*path.py
*type.py
*path.hpp
*.pyc
*__pycache__*
*.so
*.run
Examples/Python/*_examplePlot.pdf
Examples/scan/*/*.dat
*.xtx
*.aux 
*.log 
*.out 
*.bbl 
*.blg 
*.synctex.gz
*MiMeS.pdf
*_minted-MiMeS*
