*.ipynb_checkpoints
*.vscode
*path.py
*type.py
*path.hpp
*mimes_paths.hpp
*.pyc
*__pycache__*
*.so
*.run
UserSpace/Python/*_examplePlot.pdf
UserSpace/scan/*/*.dat
*._mimes_
*.aux 
*.log 
*.out 
*.bbl 
*.blg 
*.synctex.gz
*MiMeS.pdf
*MiMeS.toc
*_minted-MiMeS*
*public_html*
